.dropdown-item{
    padding: 1rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(240,249,255);
}

.dropdown-item:hover{
    background-color: rgb(240,249,255);
}